[Unit]
Description=The nginx HTTP and reverse proxy server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/nginx-rtmp.pid
# Nginx will fail to start if /run/nginx-rtmp.pid already exists but has the wrong
# SELinux context. This might happen when running `nginx -t` from the cmdline.
# https://bugzilla.redhat.com/show_bug.cgi?id=1268621
ExecStartPre=/usr/bin/rm -f /run/nginx-rtmp.pid
ExecStartPre=/usr/sbin/nginx -c /etc/nginx/nginx-rtmp.conf -t
ExecStart=/usr/sbin/nginx -c /etc/nginx/nginx-rtmp.conf
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target
